// Inline link styling

p a,
li a {
	$color: $link-underline-color;
	$weight: $link-underline-width;
	$offset: $link-underline-offset;
	// source: https://codepen.io/ghepting/pen/tLnHK?editors=1100
	text-decoration: underline;
	text-decoration-skip-ink: atuo;
	color: $light-red-one;
	&:focus,
	&:hover {
		$color: $link-underline-color-active;
		color: $link-color-active;
		text-decoration-color: $link-underline-color-active;
		//background-image: linear-gradient( to top, transparent, transparent $offset, $color $offset, $color ($offset + $weight), transparent ($offset + $weight));
	}
}
