.main-content {
	grid-area: main;
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #ffffff;
	border: 2px solid rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
	z-index: 3;

	.main-content--hero {
		width: 100%;
		height: $size--grid__tile * 4;
		background-color: $light-red-one;
		display: flex;
		padding: $size--grid__tile;

		&.main-content--hero__home {
			width: 100%;
			padding: 0;
			h1 {
				// @include line-height(2.2);
				color: $white;
				text-shadow: $text-shadow__subtle;
				align-self: center;
				margin-bottom: 0;
			}
		}
		&.main-content--hero__post {
			height: $size--grid__tile * 2;
			display: flex;
			justify-content: space-between;
			.hero__post--button {
				flex-direction: row-reverse;
				span {
					transform: rotate(180deg);
				}
			}
			.hero__post--navigation {
				display: flex;
				.hero__post--navigation--button:nth-child(1) {
					margin-right: $size--grid__tile / 2;
					transform: rotate(180deg);
				}
			}
		}
	}

	.main-content--container {
		width: 100%;
		padding: $size--grid__tile / 2;
		justify-self: flex-start;
		grid-area: main;
		position: relative;
		align-self: center;
		margin-top: $size--grid__tile;
	}
	@media screen and (min-width: $tablet-breakpoint) {
		.main-content--hero {
			justify-content: center;
			align-items: center;
			&.main-content--hero__home {
				height: 50vh;

				h1 {
					font-size: 6.5vw;
					line-height: initial;
					margin: initial;
				}
			}
			&.main-content--hero__post {
				padding: $size--grid__tile * 2;
			}
		}
		.main-content--container {
			padding: $size--grid__tile * 2;
			margint-top: 0;

		}
	}

	@media screen and (min-width: 70rem) {
		.main-content--container {
			padding-left: $size--grid__tile * 3;
		}

		.main-content--container {
			width: $size--grid__tile * 20;
		}
	}
	@media screen and (min-width: 85rem) {
		.main-content--container {
			padding-left: $size--grid__tile * 4;
		}

		.main-content--container {
			width: $size--grid__tile * 22;
		}
	}
}
