@import "../../templates/styles/globals.scss";
@import "../../styles/variables.scss";

.section--about-us {
  background-color: $c-creme;
  min-height: 100vh;
  position: relative;
  padding: $magicNumber;
  display: flex;
  flex-direction: column;
  padding: $magicNumber * 2 $magicNumber $magicNumber $magicNumber;

  .about-us--wrapper {
    max-width: $maxWidth;
    .page--heading {
      margin-right: 40%;
    }
    .content {
      padding: $magicNumber;
      margin: 0 $magicNumber;
      @media screen and (max-width: $phablet-breakpoint) {
        padding: 0;
      }
    }
  }
  @media screen and (max-width: $phablet-breakpoint) {
    padding: $magicNumberFlex * 2 $magicNumberFlex $magicNumberFlex
      $magicNumberFlex;

    .about-us--wrapper {
      .page--heading {
        margin-right: 0;
        word-break: normal;
      }
      .content {
        padding: 0;
        margin: $magicNumberFlex 0 0 0;
      }
    }
  }
  @media screen and (max-width: $small-desktop-breakpoint) {
    .about-us--wrapper {
      .page--heading {
        margin-right: 0;
      }
    }
  }
}
