.page-post--content__information.page-post__gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-column-gap: $size--grid__tile;
  grid-template-areas: "ppage-post__info" "page-post__image"; // note to self: make use of 'grid' instead of all clutter
  margin-bottom: $size--grid__tile;

  .page-post__info {
    grid-area: "page-post__info";

    .page--info__lists {
      columns: 2;
      //  column-gap: 3rem;
      ul {
        list-style: none;
      }
    }
  }

  .page-post__image {
    grid-area: "page-post__image";

    .featured-image {
      position: relative;
      @include element-shadow($bs-default, $bs-large_hover, $none);
      // height: calc(((100vw / 2) - (#{$size--grid__tile} * 8)) / #{$aspect-ratio--object});
      // width: 12rem;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(-180deg, rgba($black,0.50) 0%, transparent 15%, transparent 65%, $black 100%);
        opacity: 0.75;
        z-index: 2;
        top: 0;
        left: 0;
        border-radius: 5px;
        pointer-events: none;
        mix-blend-mode: soft-light;
      }

      img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        object-fit: cover;
        transform: scale(1.05);
      }
    }
  }
  @media screen and (min-width: 52rem) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "page-post__info" "page-post__image"; // note to self: make use of 'grid' instead of all clutter
  }
}
