// Breakpoints
// -----------
$small-phone-breakpoint: 22rem;
$phablet-breakpoint: 35rem;
$tablet-breakpoint: 48rem;
$small-desktop-breakpoint: 56rem;
$desktop-breakpoint: 64rem;
$large-desktop-breakpoint: 80rem;
$xlarge-desktop-breakpoint: 90rem;
