// Colors
// ------

$black: #000000;
$white: #ffffff;
$blue: #0000ED;

$light-gray-one: #F9F9F9;
$dark-gray-one: #727272;
$dark-red-one: #870C0C;
// $light-red-one: #FC3333;
$light-red-one: #FF4A4C;
