// Links
// -----

$background-color: $white;
$link-color: $black;
$link-color-active: $light-red-one;

$link-underline-color: $link-color;
$link-underline-color-active: $link-color-active;

$link-underline-width: 1px;
$link-underline-offset: 2.5px;
